.container{
    width: 500px;
    height: 350px;
    padding: 20px 20px;
    background: #04110E;
    border-radius: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.title{
    text-align: center;
    padding: 20px;
}

.blur{
    position: absolute;
    width: 300px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: 0;
    background: linear-gradient(180deg, #167A60 0%, #29A7C3 100%);
    filter: blur(180px);
    border-radius: 100px;
    z-index: 3;
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

@media (max-width: 576px){
    .container{
        width: 100vw;
        height: 100vh;
        padding: 20px;
        border-radius: 0;
        overflow-x: auto;
    }
    .blur{
        position: absolute;
        width: 300px;
        height: 250px;
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, #167A60 0%, #29A7C3 100%);
        filter: blur(250px);
        border-radius: 100px;
        z-index: 3;
    }
}