.primary{
    background-color: #1DAC87;
    color: #fff;
    border-radius: 10px;
    padding: 6px 22px;
    cursor: pointer;
    border: none;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}
.primary:hover{
    background-color: transparent;
    border: 2px solid #1DAC87;
}

.outline{
    border: none;
    border: 2px solid #1DAC87;
    color: #1DAC87;
    border-radius: 10px;
    padding: 6px 22px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s ease;
}

.outline:hover{
    background-color: #1DAC87;
    color: #fff;
}
