.container {
    width: 48%;
    border: 1px solid #2E2E2E;
    padding: 20px;
}

@media (min-width: 120px) {
    .container{
        width: 100%;
    }
}
@media (min-width: 767px) {
    .container{
        width: 48%;
    }
}