.container{ 
    width: 31%;
    height: 300px;
    position: relative;
    border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #2F3734;
    overflow: hidden;
    cursor: pointer;
}

.image{
    width: 90%;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.textBox{
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 20px;
}

.date{
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 20px;
}

@media (min-width: 120px) {
    .container{
        width: 100%;
    }

}
@media (min-width: 576px) {
    .container{
        width: 47%;
    }
}
@media (min-width: 992px) {
.container{ 
    width: 31%;
    height: 300px;
    position: relative;
    border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #2F3734;
    overflow: hidden;
    cursor: pointer;
}

.image{
    width: 90%;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.textBox{
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 20px;
}

.date{
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 20px;
}
}