.container{
    position: relative;
    height: 100%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

.cardsBox{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px 18%;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 2;
}

.back1{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 350px;
    height: 350px;
}
.back2{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 400px;
    height: 400px;
}

@media (min-width: 120px) {
    .container{
        padding: 50px 0;
    }
    .cardsBox{
        padding: 0 5%;
        grid-template-columns: 1fr;
    }
    .back1{
        width: 250px;
        height: 250px;
    }
    .back2{
        width: 250px;
        height: 250px;
    }
}
@media (min-width: 576px){
    .cardsBox{
        padding: 0 10%;
    }
}
@media(min-width: 767px){
    .cardsBox{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 992px){
.container{
    position: relative;
    height: 100%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

.cardsBox{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px 10%;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 2;
}

.back1{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 350px;
    height: 350px;
}
.back2{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 400px;
    height: 400px;
}
}
@media (min-width: 1200px){
    .cardsBox{
        padding: 20px 18%;
        grid-template-columns: 1fr 1fr 1fr;
    }
}