.container {
    height: 100vh;
    width: 100%;
    position: relative;
}
.backOne{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
.backTwo{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    height: 400px;
}

.textBox{
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    flex-direction: column;
    height: 100%;
    padding: 30vh 20% 0 20%;
    z-index: 2;
}

.DownBox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 60px;
    border: 2px solid #1DAC87;
    border-radius: 20px;
    margin-top: 150px;
    cursor: pointer;
}

.blur{
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(180deg, #167A60 0%, #29A7C3 100%);
    filter: blur(180px);
    z-index: 1;
    top: 25%;
}

@media (min-width: 120px){
   .container{
       height: 100%;
   }
    .backOne{
        width: 200px;
        height: 300px;
    }
    .backTwo{
        width: 200px;
        height: 300px;
    }
    .textBox{
        padding: 20vh 5% 0 5%;
    }
    .blur{
        width: 300px;
        height: 200px;
    }
    .DownBox{
        margin-top: 60px;
    }
}
@media (min-width: 576px){
.textBox{
    padding: 180px 10% 0 10%;
}
}

@media (min-width: 992px){
.container {
    height: 100vh;
}
.backOne{
    height: 400px;
    width: 300px;
}
.backTwo{
    height: 400px;
}

.textBox{
    padding: 30vh 20% 0 20%;
}

.DownBox{
    margin-top: 150px;
}

.blur{
    position: absolute;
    width: 400px;
    height: 300px;
    background: linear-gradient(180deg, #167A60 0%, #29A7C3 100%);
    filter: blur(180px);
}    
}
@media (min-width:1200px){
.textBox{
    padding: 30vh 20% 0 20%;
}
}