.container{
    padding: 25px;
    width: 320px;
    /* background-color: #000; */
}
.user{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.userImage{
    min-width: 120px !important;
    height: 120px;
}
.userImage img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    gap: 6px;
}
.btnBox{
    margin-top: 20px;
}
.technicalBox{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}
.dotsBox{
    display: flex;
    gap: 3px;
}
.dots{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #1DAC87;
}

@media(max-width: 576px){
    .container{
        width: 300px;
    }

}
