.container {
    width: 700px;
    padding: 30px 50px;
    background: #04110e;
    border-radius: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    box-sizing: border-box;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.closeModal {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    z-index: 4;
}
.validation {
    position: absolute;
}
.socialIconB {
    display: flex;
    height: 100%;
    gap: 30px;
    padding-top: 40px;
}
.socialIcon {
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.link {
    height: 50px;
}

.telegram {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background-color: #34abdf;
    border: 1px solid transparent;
    transition: 0.3s ease-in-out;
}

.whatsApp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background-color: #2bd039;
    border: 1px solid transparent;
    transition: 0.3s ease-in-out;
}

.telegram:hover {
    border: 1px solid #34abdf;
    background-color: transparent;
    /* background-color: #34ABDF; */
}
.whatsApp:hover {
    border: 1px solid #2bd039;
    background-color: transparent;
    /* background-color: #34ABDF; */
}

@media (min-width: 767px) {
    .mediaCenter {
        display: flex;
        justify-content: space-between;
        height: 100% !important;
    }
    .mediaTop {
        width: 49%;
        padding-top: 50px;
    }

    .socialIconB {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .mediaBottom {
        margin-top: 50px;
        width: 49%;
    }

    .line {
        position: absolute;
        height: 72%;
        width: 1px;
        background-color: #2e2e2e;
        margin-top: 30px;
        left: 49%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .orText {
        display: none;
    }
}

@media (max-width: 767px) {
    .orText {
        display: block;
        margin-bottom: 20px;
    }
    .line {
        display: none;
    }
    .container {
        width: 100vw;
        height: 100vh;
        padding: 20px 5%;
        border-radius: 0;
        overflow-x: auto;
    }
    .mediaCenter {
        width: 100%;
        padding: 8%;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .mediaTop {
        align-items: flex-start;
    }
    .mediaBottom {
        align-items: flex-start;
    }

    .socialIconB {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .telegram {
        width: 300px;
    }
    .whatsApp {
        width: 300px;
    }
    .title {
        margin-top: 20px;
    }
}
