.container{ 
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    align-items: center;
    padding: 0 18%;
    position: fixed;
    z-index: 5;
    transition: all 0.3s ease;
}

.changeOn{
    background-color: #000;
}
.changeOff{
    background-color: transparent;
}
.rightBox{
    display: flex;
    align-items: center;
    gap: 30px;
}
.drawer{
    display: none;
}

@media (max-width: 576px){
    .container{
        padding: 0 5%;
    }
    .drawer{
        display: flex;
        gap: 20px;
    }
    .rightBox{
        display: none;
    }
    .btnBox{
        display: flex;
    }
}