.container{ 
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    align-items: center;
    padding: 0 18%;
    position: fixed;
    z-index: 5;
    transition: all 0.3s ease;
}
.changeOn{
    background-color: #000;
}
.changeOff{
    background-color: transparent;
}
.rightBox{
    display: flex;
    align-items: center;
    gap: 30px;
}
.drawer{
    display: none;
}
@media (min-width: 120px){
    .container{
        padding: 0 5%;
    }
    .drawer{
        display: flex;
        gap: 20px;
    }
    .rightBox{
        display: none;
    }
}

@media (min-width: 576px) {
    .container{
        padding: 0 10%;
    }
    .drawer{
        display: flex;
        gap: 20px;
    }
    .rightBox{
        display: none;
    }
}
@media (min-width: 767px) {
.container{ 
    padding: 0 10%;
}
.rightBox{
    display: flex;
    align-items: center;
    gap: 30px;
}
.drawer{
    display: none;
}
}
@media (min-width: 1200px) {
.container{ 
    padding: 0 18%;
}
}

