.container{ 
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    align-items: center;
    padding: 0 18%;
    position: fixed;
    z-index: 5;
    transition: all 0.3s ease;
}
.changeOn{
    background-color: #000;
}
.logo{
    width: 120px;
    height: 55px;
    object-fit: cover;
    padding: 2px;
    cursor: pointer;
}
.changeOff{
    background-color: transparent;
}
.rightBox{
    display: flex;
    align-items: center;
    gap: 30px;
}
.drawer{
    display: none;
}
.drawerLogo{
    display: flex;
    align-items: center; 
}
.rightBox a{
    transition: all 0.2s ease;
    padding: 6px 0;
    position: relative;
}
.rightBox a::after{
    content: "";
    height: 3px; 
    width: 0;
    background-color: #1DAC87;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
.rightBox a:hover::after{
   width: 100%;
}
/* .rightBox a:hover {
    margin-bottom: 5px;
} */
@media (min-width: 120px){
    .container{
        padding: 0 5%;
    }
    .drawer{
        display: flex;
        gap: 20px;
    }
    .rightBox{
        display: none;
    }
}

@media (min-width: 576px) {
    .container{
        padding: 0 10%;
    }
    .drawer{
        display: flex;
        gap: 20px;
    }
    .rightBox{
        display: none;
    }
}
@media (min-width: 992px) {
.container{ 
    padding: 0 10%;
}
.rightBox{
    display: flex;
    align-items: center;
    gap: 30px;
}
.drawer{
    display: none;
}
}
@media (min-width: 1200px) {
.container{ 
    padding: 0 18%;
}
}

