.container{
    min-height: 100vh;
    background-color: #010100;
    position: relative;
    padding: 20px 18%;
    overflow: hidden;
}

.content{
    position: relative;
    padding-top: 10vh;
    z-index: 3;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    margin-top: 30px;
    position: relative;
    z-index: 2;
}

.backOne{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    height: 400px;
}
.backTwo{
    position: absolute;
    left: 0;
    top: 300px;
    z-index: 1;
    height: 400px;
}


.footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #010100;
    padding-top: 50px;
}

@media (min-width: 120px) {
    .container{
        padding: 20px 5%;
    }
    .backOne{
        height: 300px;
    }
    .cards{
        margin-top: 20px;
    }
    .backTwo{
        height: 300px;
    }
}
@media (min-width: 576px) {
    .container{
        padding: 20px 10%;
    }
}


@media (min-width: 992px){
.container{
    min-height: 100vh;
    background-color: #010100;
    position: relative;
}

.content{
    position: relative;
    padding-top: 10vh;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    margin-top: 30px;
    position: relative;
    z-index: 2;
}

.backOne{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    height: 400px;
}
.backTwo{
    position: absolute;
    left: 0;
    top: 300px;
    z-index: 1;
    height: 400px;
}


.footer{
    width: 100%;
    position: relative;
    bottom: 0;
}
}
@media (min-width: 1200px){
    .container{
        padding: 20px 18%;
    }
}