.container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.iconBox{
    display: flex;
    align-items: center;
    position: relative;
}
.img{
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.textBox{
    display: flex;
    flex-direction: column;
    gap: 3px;
}