.container{ 
    display: flex;
    width: 100%;
    padding: 30px 18%;
    margin-top: 50px;
    position: relative;
    bottom: 0;
    justify-content: space-between;
}
.logo{
    width: 120px;
    height: 55px;
    object-fit: cover;
    padding: 2px;
    cursor: pointer;
}

.rightBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    z-index: 2;
}

.back{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 200px;
    height: 200px;
}
.social{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socialIconB{
    display: flex;
    align-items: center;
    gap: 10px;
}
.socialIcon{
    width: 30px;
    height: 30px;
    object-fit: cover;
}

@media(max-width: 576px){
    .container{
        gap: 20px;
    }
   .rightBox{
    width: 35%;
   }
   .social{
    width: 45%;
   }
   .logoBox{
    width: 100%;
   }
}

@media (min-width: 120px) {
    .container{
        padding: 20px 5%;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .logo{
        width: 80px;
        height: 50px;
    }
    .rightBox{
        gap: 15px;
    }
    .back{
        width: 100px;
        height: 100px;
    }
}
@media (min-width: 576px){
    .container{
        padding: 20px 10%;
        justify-content: space-between;
    }
    .logo{
        width: 120px;
        height: 55px;
    }
}

@media (min-width: 992px){
.container{ 
    display: flex;
    width: 100%;
    /* margin-top: 50px; */
    position: relative;
    bottom: 0;
}

.rightBox{
    display: flex;
    gap: 10px;
}

.back{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 200px;
    height: 200px;
}
}
@media (min-width: 1200px){
    .container{
        padding: 30px 18%;
    }
}