.container {
    position: relative;
    padding: 20px 18%;
}

.header{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 30px 0;
}

.content{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.back{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 350px;
}

.blur{
    position: absolute;
    width: 75%;
    height: 200px;
    left: -150px;
    bottom: -80px;
    background: #030404;
    filter: blur(50px);
    border-radius: 100px;
    z-index: 3;
}
.validation{
    position: absolute;
}

.blurPerson{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 40px;
    top:  50px;
    background: linear-gradient(180deg, #167A60 0%, #29A7C3 100%);
    filter: blur(150px);
    z-index: 1;
}

.leftBox{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 45%;
    z-index: 2;
    padding-top: 50px;
}

.leftBox img{
    position: relative;
    z-index: 2;
}

.back{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.rightBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    gap: 30px;
    padding-top: 50px;
}

.submit{
    display: flex;
    justify-content: flex-end;
}

.arrowRight{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border: 2px solid #1DAC87;
    border-radius: 50%;
    margin-top: 20px;
    cursor: pointer;
}

@media (min-width: 120px) {
    .container{
        padding: 50px 5% 20px 5%;
        height: 100%;
    }
    .content{
        flex-direction: column;
        z-index: 4;
    }

    .leftBox{
        width: 100%;
        justify-content: center;
    }
    .leftBox img{
        width: 300px;
        height: 350px;
    }
    .rightBox{
        width: 100%;
        position: relative;
        z-index: 4;
    }

    .back{
        height: 300px;
    }

    .blur{
        position: absolute;
        width: 100%;
        height: 150px;
        left: 0;
        right: 0;
        bottom: -70px;
        background: #030404;
        filter: blur(25px);
        border-radius: 100px;
        z-index: 3;
    }

    .blurPerson{
        position: absolute;
        width: 250px;
        height: 150px;
        left: 50%;
        right: 50%;
        top:  80px;
        transform: translate(-50%,-50%);
        background: linear-gradient(180deg, #167A60 0%, #29A7C3 100%);
        filter: blur(150px);
        z-index: 1;
    }
}

@media (min-width: 576px){
    .rightBox{
        padding: 0 10%;
    }
}
@media (min-width: 767px){
    .rightBox{
        padding: 0 15%;
    }
}
@media (min-width: 992px){
.container {
    position: relative;
    padding: 20px 10%;
}

.header{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.content{
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: row;
}

.blur{
    position: absolute;
    width: 100%;
    height: 200px;
    right: 0;
    left: -30px;
    bottom: -80px;
    background: #030404;
    filter: blur(35px);
    border-radius: 100px;
    z-index: 3;
}

.blurPerson{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 50%;
    right: 50%;
    top: 0;
    transform: translate(-50%, 50%);
    background: linear-gradient(180deg, #167A60 0%, #29A7C3 100%);
    filter: blur(150px);
    z-index: 1;
}

.leftBox{
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 45%;
    z-index: 2;
    padding-top: 50px;
}

.leftBox img{
    width: 370px;
    height: 420px;
}


.rightBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    gap: 30px;
    padding: 50px 0 0 0;
}

.submit{
    display: flex;
    justify-content: flex-end;
}

.arrowRight{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border: 2px solid #1DAC87;
    border-radius: 50%;
    margin-top: 20px;
    cursor: pointer;
}
}

@media (min-width: 1200px){
.container{
    padding: 20px 18%;
}
.back{
    height: 350px;
}
}