*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "FuturaPTDemi";
  scroll-behavior: smooth !important;
}
.href{
    text-decoration: none;
}

.ant-drawer-title{
  color: #fff;
  text-align: start;
}

.ant-drawer-header{
  color: #fff;
}

.lmtWIHO_gkbTeeyuvoJC {
  background-color: #000;
}
.lmtWIHO_gkbTeeyuvoJC.mOUYF5ZmuNL6I7t0mSFg {
    background-color: #000;
    width: 100vh;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #000;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #1DAC87;
  border-radius: 20px;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
  color: #7F7F7F !important;
  font-family: "FuturaPTDemi" !important;
}
.css-i4bv87-MuiSvgIcon-root{
  fill: #7F7F7F !important;
}

@font-face {
  font-family: "FuturaBold";
  src: url("./assets/fonts/FuturaPTBold.otf") format("truetype");
}
@font-face {
  font-family: "FuturaBoldOblique";
  src: url("./assets/fonts/FuturaPTBoldOblique.otf") format("truetype");
}
@font-face {
  font-family: "FuturaBook";
  src: url("./assets/fonts/FuturaPTBook.otf") format("truetype");
}
@font-face {
  font-family: "FuturaBookOblique";
  src: url("./assets/fonts/FuturaPTBookOblique.otf") format("truetype");
}
@font-face {
  font-family: "FuturaCondBold";
  src: url("./assets/fonts/FuturaPTCondBold.otf") format("truetype");
}

@font-face {
  font-family: "FuturaCondBoldOblique";
  src: url("./assets/fonts/FuturaPTCondBoldOblique.otf") format("truetype");
}
@font-face {
  font-family: "FuturaCondBook";
  src: url("./assets/fonts/FuturaPTCondBook.otf") format("truetype");
}
@font-face {
  font-family: "FuturaCondBookOblique";
  src: url("./assets/fonts/FuturaPTCondBookOblique.otf") format("truetype");
}
@font-face {
  font-family: "FuturaCondExtraBold";
  src: url("./assets/fonts/FuturaPTCondExtraBold.otf") format("truetype");
}
@font-face {
  font-family: "FuturaCondExtraBoldOblique";
  src: url("./assets/fonts/FuturaPTCondExtraBoldOblique.otf") format("truetype");
}
@font-face {
  font-family: "FuturaCondMedium";
  src: url("./assets/fonts/FuturaPTCondMedium.otf") format("truetype");
}
@font-face {
  font-family: "FuturaCondMediumOblique";
  src: url("./assets/fonts/FuturaPTCondMediumOblique.otf") format("truetype");
}
@font-face {
  font-family: "FuturaPTDemi";
  src: url("./assets/fonts/FuturaPTDemi.otf") format("truetype");
}
@font-face {
  font-family: "FuturaPTDemiOblique";
  src: url("./assets/fonts/FuturaPTDemiOblique.otf") format("truetype");
}
@font-face {
  font-family: "FuturaPTExtraBold";
  src: url("./assets/fonts/FuturaPTExtraBold.otf") format("truetype");
}
@font-face {
  font-family: "FuturaPTExtraBoldOblique";
  src: url("./assets/fonts/FuturaPTExtraBoldOblique.otf") format("truetype");
}
@font-face {
  font-family: "FuturaPTHeavy";
  src: url("./assets/fonts/FuturaPTHeavy.otf") format("truetype");
}
@font-face {
  font-family: "FuturaPTLight";
  src: url("./assets/fonts/FuturaPTLight.otf") format("truetype");
}
@font-face {
  font-family: "FuturaPTLightOblique";
  src: url("./assets/fonts/FuturaPTLightOblique.otf") format("truetype");
}
@font-face {
  font-family: "FuturaPTMedium";
  src: url("./assets/fonts/FuturaPTMedium.otf") format("truetype");
}
@font-face {
  font-family: "FuturaPTMediumOblique";
  src: url("./assets/fonts/FuturaPTMediumOblique.otf") format("truetype");
}

@font-face {
  font-family: "BenzinBold";
  src: url("./assets/benzinFonts/Benzin-Bold.ttf") format("truetype");
}
