.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    padding: 5px 10px;
    height: 42px;
    border: 1px solid #2E2E2E;
    border-radius: 8px;
    gap: 5px;
}

.icons{
    width: 35px;
    height: 25px;
}