.container{
    display: flex;
    height: 100% !important;
    padding: 20px 18%;
    position: relative;
    gap: 30px;
    flex-wrap: wrap;
}
.card{
    width: 31%;
    height: 100%;
    /* border: 1px solid grey; */
    box-shadow: 0 0 10px #1DAC87;
    border-radius: 40px 40px 0 40px;
    padding: 30px 30px 20px 30px;
    background-color: #1DAC87;
}

.rowItem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.iconBox{
    display: flex;
    border: 1px solid #1DAC87;
    border-radius: 50%;
    align-items: center;
    position: relative;
    padding: 10px;
    background-color: #fff;
}
.img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.textBox{
    display: flex;
    flex-direction: column;
}

.infoBox{
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    gap: 10px;
}
.item{
    display: flex;
    gap: 6px;
}

.btn{
    background-color: #fff;
    border: 1px solid #fff;
    color: #1DAC87;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 15px 15px 0 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    background-color: transparent;
    color: #fff;
}

.priceBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 120px) {
    .container{
        padding: 50px 5% 20px 5%;
    }
    .card{
        width: 100%;
    }
}

@media(min-width: 576px) {
    .container{
        padding: 20px 10%;
    }
}

@media (min-width: 767px) {
    .card{
        width: 48%;
    }
}

@media(min-width: 992px){
    .container{
        padding: 20px 10%;
    }
}

@media (min-width: 1200px) {
    .container{
        padding: 20px 18%;
    }
    .card{
        width: 31%;
    }
}
